# Raiz 
/node_modules/

# API
/api/node_modules
/api/.env
/api/.env.*.local
/api/coverage
/api/dist
/api/build
/api/logs

# WEB
/web/node_modules/
/web/dist/
/web/build/
/web/.env
/web/.env.*.local
/web/npm-debug.log*
/web/yarn*.log
/web/pnpm-debug.log

# Geral
.DS_Store
Thumbs.db
.vscode/